<!-- IDE issue https://youtrack.jetbrains.com/issue/WEB-51209 -->
<p-panel
  *ngFor="let type of devicesByType | keyvalue : originalOrder"
  header="{{type.key}}"
  [toggleable]="true"
  styleClass="padding-bottom-1-rem"
>
  <div class="grid">
    <p-card
      *ngFor="let device of type.value"
      header="{{device.deviceName}}"
      [style]="{width: '337px'}"
      styleClass="p-card-shadow"
    >
      <ng-template pTemplate="header">
        <div class="image flex justify-content-center">
          <img
            *ngIf="device.image"
            class="image"
            alt="Card"
            src="{{baseUrl}}/{{device.image}}"
          >
          <div *ngIf="!device.image" class="align-self-center text-align-center flex align-items-center gap-6">
            <i class="pi pi-image"></i>
            <span>No image</span>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="subtitle">
        <div class="">
          <key-value-display key="Device UID" value="{{device.deviceUid}}" [split]=true></key-value-display>
        </div>
        <div class="flex flex-row justify-content-between">
          <key-value-display key="Last seen" value="{{device.lastSeenDate | date}}"></key-value-display>
          <key-value-display key="Registered" value="{{device.registrationDate | date}}"></key-value-display>
        </div>
        <p-divider align="left" styleClass="no-padding-bottom">
          <div class="inline-flex align-items-center">
            <i class="pi pi-book mr-2"></i>
            <b>Description</b>
          </div>
        </p-divider>
      </ng-template>

      <ng-template pTemplate="content">
        <p-scrollPanel styleClass="no-padding-top" [style]="{width: '100%', height: '40px'}">
          {{device.description}}
        </p-scrollPanel>
      </ng-template>


      <ng-template pTemplate="footer">
        <div class="grid">
          <p-button
            class="col col-12 md:col-6"
            label="Statistic"
            icon="pi pi-chart-line p-button-sm"
            styleClass="p-button-sm flex-grow-1 full-width"
            (onClick)="statisticDetail(device, type.key)"
          >
          </p-button>
          <p-button
            class="col col-12 md:col-6"
            label="Categorical"
            icon="pi pi-chart-bar p-button-sm"
            styleClass="p-button-sm p-button-secondary flex-grow-1 full-width"
            (onClick)="categoricalDetail(device, type.key)"
          >
          </p-button>
        </div>
      </ng-template>
    </p-card>
  </div>
</p-panel>


<p-toast></p-toast>
